html, body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a3153;
    border-bottom: 1px solid lightgrey;
    height: 9vh;
    width: 100%;
}
.header-icons{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    align-items: center;
}
.header-icons a {
    text-decoration: none;
    color: #c3c3c3;
    font-size: larger;
    width: 15%;
    height: 15%;
}
.header-icons a:hover{
    color: white;
}
.header-icons img{
    width: 200px;
    height: 24px;
    margin-left: 20px;
}
.headerlinks{
    display: flex;
    background-color: white;
    width: 25px;
    height: 25px;
    margin-right: 1%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.headerlinks a{
    color: #0a3153;
    
}
.layout {
    margin-top: 9dvh;
    display: flex;
    flex-direction: row;
}

nav {
    position: fixed;
    top: 9vh;
    left: 0;
    background-color: white;
    height: 92vh; 
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease, opacity 1s ease;
    z-index: 1000;
}
nav.hidden{
    width: 0;
}
main {
    /*grid-area: main;*/
    width: 100%;
    margin-left: 250px;
    padding: 20px;
    background-color: #eaeaea;
    overflow-y: auto; 
    transition: margin-left 0.3s ease;
}
main.full-width{
    margin-left: 0;
}
.studentprofile{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 12px;
    width: 90%;
}
#userlogo{
    display: flex;
    width: 15%;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    color: #0a3153;
}
#studentid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    margin-left: 8px;
}
#studentname{
    margin: 0;
    font-weight: 600;
}
#studentemail{
    margin: 0;
    font-size: x-small;
    color: grey;
    width: fit-content;
    
}
.modulename{
    display: flex;
    height: 30px;
    width: 80%;
    padding: 6px;
    align-items: center;
    background-color: #0a3153;
    justify-content: center;
    border-radius: 16px;
}
#module{
    color: white;
    text-align: center;
    font-size: 14px;
    border-radius: 16px;
}
#bottomline{
    margin-top: 3dvh;
    background-color: #c3c3c3;
    width: 80%;
    height: 1px;
    border: none;
}
.studentmenu{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2dvh;
    padding: 2dvh;
}
.menuitem{
    padding: 6%;
    border-radius: 8px;
    width: 75%;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}
.menuitem:hover{
    background-color: #EAEAEA;
    color: #0a3153;
    
    
}
.menuitem.selected{
    background-color: #EAEAEA;
    color: #0a3153;
    font-weight: 1000;
    cursor: pointer;
}
.homecontainer{
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto;
    gap: 30px;

}
#cefr{
    display: flex;
    grid-template-columns: auto;
    height: 24dvh;
    align-items: center;
    gap: 16px;
    padding: 1%;
}
.cefrthirds{
    background: #f5f5f5;
    display: flex;
    height: 90%;
    width: 90%;
    border-radius: 16px;
}
#actcontainer{
    display: flex;
    grid-template-columns: auto;
    width: 100%;
    height: 24dvh;
    align-items: center;
    gap: 16px;
    padding: 1%;
}
.hpactitem{
    width: 20%;
    height: 80%;
    background-color: #f5f5f5;
    border-radius: 16px;
}
/* Lesson container from the old classlist */
.grid {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    padding: 15px;
}
.unit {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 18px;
    display: flex;
    height: 19vh;
    justify-content: flex-start;
    gap: 16px;
}
.lessonU1, .lessonU2, .lessonU3 {
    width: 18%;
    min-width: 130px;
    height: 21vh;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    box-shadow:  5px 5px 9px #d0d0d0;
             
}
.lessonU1{
    background: linear-gradient(to bottom, #335c67  45%, white 40%);
}
.lessonU2{
    background: linear-gradient(to bottom, rgb(153, 194, 134)  45%, white 40%);
}
.lessonU3{
    background: linear-gradient(to bottom, #e26d5c  45%, white 40%);
}
.lessonU1:hover{ 
        background-color: white;  
        scale: 1.1;
        cursor: pointer;
}
.lessonU2:hover{ 
    background-color: white;  
    scale: 1.1;
    cursor: pointer;
}
.lessonU3:hover{ 
    background-color: white;  
    scale: 1.1;
    cursor: pointer;
}
.lesson-title {
    color: white;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5px;
    align-self: center;
    transition: transform 0.3s ease-in-out;

}
.lesson-description {
    color: #0a3153;
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
    font-size: 16px;
    padding: 4px;
}
.titleunit{
    color: #0a3153;
    margin-bottom: 0;
}
.actlesson1{
    background-color: rgb(252, 252, 252);
    border-radius: 16px;
    box-shadow:  5px 5px 9px #d0d0d0;
    padding: 1%;
    margin-bottom: 16px;
    background: linear-gradient(90deg, rgba(51,92,103,1) 2%, rgba(255,255,255,1) 2%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.actlesson1 h3{
    color: #0a3153;
    margin-left: 32px;
}
.actlesson1 p{
    color: grey;
    margin-left: 32px;
}
.actOpt{
    align-items: center;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actDownload{
    margin: 8px;
    height: 70%;
    width: 80%;
    border: none;
    border-radius: 12px;
    font-size: x-large;   
    color: #0a3153;
}
.actDownload:hover{
    cursor: pointer;
    background-color: white;
    border: 2px solid #9e2a2b;
    color: #9e2a2b;
}
#obsAct{
    background-color: rgb(107, 223, 107);
    color: white;
    height: 8dvh;
    display: flex;
    padding-left: 2%;
    align-items: center;
    border-radius: 12px;
}
.apItem{
    background-color: white;
    border-radius: 8px;
    padding: 2%;
    margin: 2%;
}
.appendixEnglishVocab{
    display: flex;
    color: #0a3153;

    font-weight: 600;
    align-items: center;
}
.appendixPortugueseVocab{
    display: flex;
    color: grey;
    font-size: small;
    align-items: center;
}
#tobeappendix{
    background-color: white;
    padding: 2%;
    margin: 2%;
    border-radius: 8px;
}
.appTitle{
    color: #9e2a2b;
    font-size: larger;
    text-align: center;
}

#apToBe{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.toBeDiv{
    width: 100%;
}
.toBeVocab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    width: 90%;
}
.vocabulary-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}
@media only screen and (max-width: 500px){
    html, body {
        background-color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100; 
        display: flex;
        align-items: center;
        background-color: #0a3153;
        border-bottom: 1px solid lightgrey;
        height: 9vh;
        width: 100%;
    }
    .header-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .header-icons a {
        text-decoration: none;
        color: #c3c3c3;
        font-size: 30px;
        width: 30px;
        height: 40px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
    }
    .header-icons a:hover{
        color: white;
    }
    .header-icons img{
        width: 100%;
        height: 2rem;
        display: flex;
        justify-self: center;
    }
    .layout {
        margin-top: 9dvh;
        display: flex;
        flex-direction: row;
    }
    
    nav {
        position: fixed;
        top: 9vh;
        left: 0;
        background-color: white;
        height: 92vh; 
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: width 0.3s ease, opacity 1s ease;
        z-index: 1000;
    }
    nav.hidden{
        width: 0;
    }
    main {
        /*grid-area: main;*/
        width: 100%;
        margin-left: 250px;
        padding: 20px;
        background-color: #eaeaea;
        overflow-y: auto; 
        transition: margin-left 0.3s ease;
    }
    main.full-width{
        margin-left: 0;
    }
    .studentprofile{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 12px;
        width: 90%;
    }
    #userlogo{
        display: flex;
        width: 15%;
        font-size: xx-large;
        align-items: center;
        justify-content: center;
        color: #0a3153;
    }
    #studentid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60%;
        margin-left: 8px;
    }
    #studentname{
        margin: 0;
        font-weight: 600;
        font-size: larger;
    }
    .modulename{
        display: flex;
        height: 30px;
        width: 80%;
        padding: 6px;
        align-items: center;
        background-color: #0a3153;
        justify-content: center;
        border-radius: 16px;
    }
    #module{
        color: white;
        text-align: center;
        font-size: 14px;
        border-radius: 16px;
    }
    #bottomline{
        margin-top: 3dvh;
        background-color: #c3c3c3;
        width: 80%;
        height: 1px;
        border: none;
    }
    .studentmenu{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 2dvh;
        padding: 2dvh;
    }
    .menuitem{
        padding: 6%;
        border-radius: 8px;
        width: 75%;
        color: #c3c3c3;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        text-align: left;
    }
    .menuitem:hover{
        background-color: #EAEAEA;
        color: #0a3153;
        
        
    }
    .menuitem.selected{
        background-color: #EAEAEA;
        color: #0a3153;
        font-weight: 1000;
        cursor: pointer;
    }
    .homecontainer{
        padding: 20px;
        border-radius: 5px;
        display: grid;
        grid-template-rows: auto;
        gap: 30px;
    
    }
    #cefr{
        display: flex;
        grid-template-columns: auto;
        height: 24dvh;
        align-items: center;
        gap: 16px;
        padding: 1%;
    }
    .cefrthirds{
        background: #f5f5f5;
        display: flex;
        height: 90%;
        width: 90%;
        border-radius: 16px;
    }
    #actcontainer{
        display: flex;
        grid-template-columns: auto;
        width: 100%;
        height: 24dvh;
        align-items: center;
        gap: 16px;
        padding: 1%;
    }
    .hpactitem{
        width: 20%;
        height: 80%;
        background-color: #f5f5f5;
        border-radius: 16px;
    }
    /* Lesson container from the old classlist */
    .grid {
        display: grid;
        grid-template-rows: auto;
        gap: 10px;
        padding: 15px;
    }
    .unit {
        margin-top: 0;
        margin-bottom: 40px;
        padding: 18px;
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: flex-start;
        gap: 16px;
    }
    .lessonU1, .lessonU2, .lessonU3 {
        width: 100%;
        min-width: 130px;
        height: 8vh;
        border-radius: 10px;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        transition: transform 0.3s ease-in-out;
        box-shadow:  5px 5px 9px #d0d0d0;
                 
    }
    .lessonU1{
        background: linear-gradient(to bottom, #335c67  45%, white 40%);
    }
    .lessonU2{
        background: linear-gradient(to bottom, rgb(153, 194, 134)  45%, white 40%);
    }
    .lessonU3{
        background: linear-gradient(to bottom, #e26d5c  45%, white 40%);
    }
    .lessonU1:hover{ 
            background-color: white;  
            scale: 1.1;
            cursor: pointer;
    }
    .lessonU2:hover{ 
        background-color: white;  
        scale: 1.1;
        cursor: pointer;
    }
    .lessonU3:hover{ 
        background-color: white;  
        scale: 1.1;
        cursor: pointer;
    }
    .lesson-title {
        color: white;
        font-weight: bold;
        align-self: center;
        margin-top: 0;
        transition: transform 0.3s ease-in-out;
    
    }
    .lesson-description {
        color: #0a3153;
        transition: transform 0.3s ease-in-out;
        opacity: 0.8;
        font-size: 16px;
        padding: 4px;
    }
    .titleunit{
        color: #0a3153;
        margin-bottom: 0;
    }
}

